@charset "utf-8";
:root {
    /* color */
    --white: #fff;
    --base-color: rgb(243, 240, 221);
    --sub-color: rgb(109,198,204,1);
    --point-color: rgb(251, 255, 71);
    --gray-color: #7f827c;
    --dark-gray-color: #333;

    /* font */
    --title-font-size: 4.5vw;
    --sub-title-font-size: 65px;
    --large-font-size: 52px;
    --middle-font-size: 24px;
    --base-font-size: 18px;
    --small-font-size: 14px;

    /* padding */
    --section-padding: 200px 0;

}
html {scroll-behavior: smooth;}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--base-font-size);
    background: linear-gradient( var(--base-color) 0%, var(--sub-color) 100%);
}


/* 공통 */
.container {
    width: 1280px;
    margin: 0 auto;
}
.contents-container {
    border: 1px solid var(--gray-color);
    background-color: var(--white);
    box-shadow: 20px 20px var(--gray-color);
    line-height: 1.5;
    padding: 10%;
    transition: 0.4s 0.4s;
}
h2.title {
    position: relative;
    font-size: var(--title-font-size);
    font-weight: bold;
    margin-bottom: 3%;
    transition: 0.4s;
}
h2.hide, h2.hide + .cont-box {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

/* 헤더영역 */
#header {
    position: relative;
    z-index: 100;
}
.header {
    position: fixed;
    top: 30px; left: 30px;
}
.header h1 a {
    font-size: var(--middle-font-size);
    color: var(--dark-gray-color);
    font-weight: bold;
}

/* nav 영역 */
.nav .ico-menu {
    position: fixed;
    top: 24px; right: 30px;
    z-index: 9999;
}
.nav .ico-menu .ham {
    display: block;
    position: relative;
    width: 35px;
    height: 31px;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.nav .ico-menu .ham .bar {
    position: absolute;
    top: 0; 
    height: 3px;
    width: 30px;
    background-color: var(--dark-gray-color);
    transition: 0.2s;
}
.nav .ico-menu .ham .bar:nth-child(1) {top: 0;}
.nav .ico-menu .ham .bar:nth-child(2),
.nav .ico-menu .ham .bar:nth-child(3) {top: 10px;}
.nav .ico-menu .ham .bar:nth-child(4) {top: 20px;}

.nav .ico-menu.active .ham .bar:nth-child(1),
.nav .ico-menu.active .ham .bar:nth-child(4) {display: none;}
.nav .ico-menu.active .ham .bar:nth-child(2) {transform: rotate(-45deg);}
.nav .ico-menu.active .ham span:nth-child(3) {transform: rotate(45deg);}
.nav .ico-menu.active + .gnb {right:0;}

.nav .gnb {
    position: fixed;
    top: 0; right: -25%;
    bottom: 0;
    width: 25%;
    background-color: var(--point-color);
    transition: 0.3s ease-in;
    z-index: 3000;
}
.nav .gnb .menu {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.nav .gnb .menu li {
    font-size: var(--large-font-size);
    line-height: 1.8;
}
.nav .gnb .menu li:last-child{margin-bottom: 0;}
.nav .gnb .menu li a {
    display: block;
    font-weight: bold;
    transition: 0.3s;
    -webkit-font-smoothing : antialiased;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.8px var(--dark-gray-color);
}
.nav .gnb .menu li:hover a {
    -webkit-text-fill-color:  var(--white);
    text-shadow: 3px 3px var(--gray-color);
}


/* main 영역 */
#main {
    height: 100vh;
    position: relative;
}
.main .intro {
    position: absolute;
    top: 47%; left: 10%;
    transform: translateY(-50%);
    z-index: 10;
}
.main .intro .text-box {overflow: hidden;}
.main .intro .text-box > p {
    position: relative;
    top: 100px;
    font-size: var(--title-font-size);
    font-weight: bold;
    line-height: 1.5;
    transition: 0.7s 0.3s;
}
.main .intro.show .text-box > p {top: 0px;}
.main .intro .text-box > p.last {transition-delay : 0.7s;}

.main .photo {
    position: absolute;
    top: 50%; right: 10%;
    transform: translateY(-50%);
    width: 32vw;
}
.main .more-button {
    position: absolute;
    bottom: 5%; left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--point-color);
    transition: 0.3s;
    animation: jumping 2s infinite 1s;
}
.main button.more {font-size: var(--middle-font-size);}
.main .more-button:hover {
    transform: scale(0.9);
    box-shadow: 0 0 20px 20px var(--point-color);
    cursor: pointer;
}

@keyframes jumping {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);}
}





/********** about 영역 **********/
#about {padding: var(--section-padding)}
.about .contents-container article {margin-bottom: 120px;}
.about .contents-container article:last-child {margin-bottom: 0;}

.about .contents-container h3.sub-title {
    font-size: var(--middle-font-size);
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 3em;
}
.about .about-me {text-align: center;}
.about .about-me .profile {position: relative;}
.about .about-me p {
    font-size: var(--base-font-size);
    margin-top: 2.5rem;
}
.about .about-me .memoji {
    width: 180px;
    height: 180px;
    background-color: var(--point-color);
    border-radius: 50%;
    margin: 0 auto;
}
.about .about-me .memoji img {
    position: relative;
    top: 50%; left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
}

.about .cont-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .like {flex-basis: 40%;}
.about .like ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about .like ul li {flex-basis: 30%;}
.about .like ul li .like-svg svg {
    width: 55px;
    height: 55px;
}
.about .like ul li em {
    display: block;
    line-height: 1.2;
    margin-top: 1rem;
}
.about .skill {
    position: relative;
    flex-basis: 50%;
}
.about .skill .skillbutton{
    position: absolute;
    top: 0px; right: 20px;
    width: 65px; 
    height: 65px;
    font-weight: bold;
    background-color: var(--point-color);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    animation: bounce 0.7s infinite;
}
@keyframes bounce
{
  0% {transform: scale( 0.9 );}
  20% {transform: scale( 1 );}
  40% {transform: scale( 0.9 );}
  60% {transform: scale( 1 );}
  80% {transform: scale( .9 );}
  100% {transform: scale( .9 );}
}
.about .skill .skillbutton.active {
    box-shadow: 0 0 10px 10px var(--point-color);
    animation: none;
}
.about .skill ul li {margin-bottom: 1rem;}
.about .skill ul li .legend {
    display: inline-block;
    width: 30%;
}
.about .skill ul li .skillbox {
    display: inline-block;
    position: relative;
    width: 55%;
    height: 5px;
    background-color: var(--gray-color);
    vertical-align: middle;
}
.about .skill ul li .skillbox .skillbar {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 0%;
    background-color: var(--point-color);
}
.about .skill ul li .skillbox .rate {
    position: absolute;
    top: -3px; right: -35px;
    font-size: var(--small-font-size);
}

.about .history .history-contents ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -11px;
}
.about .history .history-contents li {
    position: relative;
    flex-basis: 25%;
    padding-top: 2.5em;
    border-top: 3px dotted var(--dark-gray-color);
}
.about .history .history-contents li:before {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--dark-gray-color);
    background-color: var(--point-color);
    box-shadow: 2px 2px var(--gray-color);
}
.about .history .history-contents li .year {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.history .history-contents li em {display: block;}
.about .tryto ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .tryto ul li {
    flex-basis: 30%;
    text-align: center;
}
.about .tryto ul li .svgicon{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--point-color);
    margin: 0 auto;
}
.about .tryto ul li .svgicon svg {
    position: absolute;
    top: 50%; left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}
.about .tryto ul li em{
    position: relative;
    display: block;
    font-size: var(--middle-font-size);
    font-weight: 600;
    margin: 1.5em 0 2.5em;
}
.about .tryto ul li em:after {
    content: "";
    position: absolute;
    bottom: -35px; left: 50%;
    width: 15px;
    height: 3px;
    background: #333;
    transform: translateX(-50%);
}


/********** project 영역 **********/
#project {padding: var(--section-padding)}
#project .container {width: 100%;}
#project .row {padding: 0;}
.project h2 {
    width: 1280px;
    margin: 0 auto 0.7em;
}
.project .project-list {
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s 0.4s;
}
.project .project-list > div {
    position: relative;
    width: 44%;
    margin: 0 4% 4% 0;
}
.project .project-list > div:nth-child(3) {margin-left: 4%;}
.project .cover{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--point-color);
    line-height: 1.5;
    transition: 0.3s;
    padding: 7%;
    opacity: 1;
    visibility: visible;
}
.project .project-list > div:hover .cover {
    opacity: 0;
    visibility: hidden;
}
.project .project-list > div:hover img {transform: scale(0.95);}
.project .project-list img {transition: 0.3s;}
.project .cover h3.project-title {
    position: absolute;
    bottom: 8%; left: 7%;
    font-size: var(--sub-title-font-size);
    font-weight: 500;
}
.project .cover h3 .year {
    font-size: var(--small-font-size);
    vertical-align: text-top;
    margin-left: 0.6em;
}
.project .cover .category {
    display: block;
    font-weight: 500;
    font-size: var(--middle-font-size);
    margin-bottom: 1em;
}


/*  contact */
#contact {padding: var(--section-padding)}
.contact .wating p {
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
}
.contact .wating .photo {
    width: 70%;
    text-align: center;
    margin: 12% auto;
    transition: 0.5s;
}
.contact .wating .photo img {
    animation: hue 3s infinite alternate;
}
@keyframes hue {
    0%, 100%  { -webkit-filter: hue-rotate(0deg); }
    50% { -webkit-filter: hue-rotate(180deg); }
}
.contact .infor ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact .infor ul li {
    position: relative;
    text-align: center;
    cursor: pointer;
}
.contact .infor ul li a{
    display: inline-block;
    font-size: var(--middle-font-size);
    color: var(--dark-gray-color);
    border-bottom: 2px dotted var(--dark-gray-color);
}
.contact .infor ul li .infor-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.contact .infor ul li a span.tooltip {
    display: block;
    position: absolute;
    top: -60px; left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background: var(--point-color);
    border-radius: 20px;
    font-size: var(--base-font-size);
    opacity: 0; 
    visibility: hidden;
    padding: 0.5em;
    transition: 0.3s;
}
.contact .infor ul li a span.tooltip:after {
    content: '';
    position: absolute;
    top: 100%; left: 50%;
    transform: translate(-50%);
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--point-color) transparent transparent transparent;
}
.contact .infor ul li a em.show + span.tooltip {
    opacity: 1; 
    visibility: visible;
}
.contact .instagram {
    position: fixed;
    bottom: 30px; left: 30px;
}
.contact .copyright {
    position: fixed;
    bottom: 30px; right: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    color: var(--gray-color);
}


/* footer */
#footer {padding-bottom: 200px;}
#footer .thankyou .heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 0 auto;
    animation: heartbeat 1s infinite;
}
#footer .thankyou .heart:before,
#footer .thankyou .heart:after {
    position: absolute;
    content: "";
    left: 50px; top: 0;
    width: 50px;
    height: 80px;
    background: var(--point-color);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#footer .thankyou .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

@keyframes heartbeat
{
  0% {transform: scale( .75 );}
  20% {transform: scale( 1 );}
  40% {transform: scale( .75 );}
  60% {transform: scale( 1 );}
  80% {transform: scale( .75 );}
  100% {transform: scale( .75 );}
}
#footer .thankyou p {
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--point-color);
    text-align: center;
    line-height: 1.5;
    margin-top: 0.5rem;
}


/* 미디어쿼리 */
@media (max-width: 1290px) {
    :root {
        --sub-title-font-size: 45px;
        --large-font-size: 36px;
        --middle-font-size: 18px;
        --base-font-size: 16px;

        /* padding */
        --section-padding: 120px 0;
    }
    
    .container {width: 100%;}
    .row {padding: 0 24px;}
    .contents-container {box-shadow: none;}

    .main .intro {left: 5%;}
    .main .photo {right: 5%}

    .main .more-button {
        width: 120px;
        height: 120px;
    }

    .nav .ico-menu .ham .bar {
        width: 20px;
        height: 2px;
    }
    .nav .ico-menu .ham .bar:nth-child(2),
    .nav .ico-menu .ham .bar:nth-child(3) {top: 6px;}
    .nav .ico-menu .ham .bar:nth-child(4) {top: 12px;}

    .project h2 {
        width: 100%;
        padding: 0 16px;
    }
}
@media (max-width: 960px) {
    :root {
        --sub-title-font-size: 36px;
        --large-font-size: 36px;
        --middle-font-size: 18px;
        --base-font-size: 16px;

        /* padding */
        --section-padding: 120px 0;
    }
    .main .more-button {
        width: 100px;
        height: 100px;
    }

    .about .history .history-contents li:before {
        width: 13px;
        height: 13px;
    }

    #footer {
        padding-bottom: 100px;
    }
}
@media (max-width: 768px) {
    :root {
        --sub-title-font-size: 28px;
        --large-font-size: 24px;
        --middle-font-size: 16px;
        --base-font-size: 14px;

        /* padding */
        --section-padding: 120px 0;
    }

    .nav .gnb .menu li a {
        -webkit-text-fill-color: var(--dark-gray-color);
        -webkit-text-stroke: 0;
    }
    .nav .gnb .menu li:hover a {
        -webkit-text-fill-color:  var(--dark-gray-color);
    }
    .main .more-button {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 600px) {
    .row {padding: 0 18px;}
    #main {height: auto;}
    .main .intro {
        position: static;
        margin: 30% 0 0 5%;
    }
    .main .photo {top: 100%;}

    .main .more-button {display: none;}
}
@media (max-width: 480px) {}
@media (max-width: 380px) {}